<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="'main">
        <nav>
            <label class='logo'>USJFORUM</label>
            <ul class='nav1'>
                {% if etudiant.is_authenticated %}
                <li><a class='list2' href="/">Home</a></li>
                <li><a class='list2' href="/logout">Logout</a></li>
                {% else %}
                <li><a class='list2' href="/loginpage">Log-in</a></li>

                <li><a href="/signup" id='fr'>Sign-up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div>
    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
</div>
    <div class="main23">
        <div class="form4s">
            <form method="post">
                <div><label class="Label-auth">Matricule</label>
                <input type="text" class="text" placeholder="Matricule" name="matricule"></div>

                
                <div><label class="Label-auth2" >Prénom</label>
                <input type="text" placeholder="Nom " name=nom></div>
                <div><label class="Label-auth" id='fr'>Password</label>
                <input type="password" class="text" placeholder="password" name="password"></div>
                <div><label class="Label-auth">Password</label>
                <input type="password" class="text" placeholder="ReEnterPassword" name="password2"></div>
                <div><label >Position</label>
                <input list="html_elements" class='position'name="position">
                <datalist  style="width:200px;" id="html_elements">
                    <option value="Etudiant">Etudiant</option>
                    
                    <option value="Enseignant">Enseignant</option>
                </datalist></div>
                <div><label >Specialité</label>
                <input list="html_elements2" class='position2' name="specialite">
                <datalist  style="width:200px;" id="html_elements2">
                    <option value="GIC">GIC</option>
                    <option value="GM">GM</option>
                    <option value="GE">GE</option>
                    <option value="GC">GC</option>
                    <option value="GCP">GCP</option>


                </datalist></div>
                <button class="button11" type="submit"   >Submit</button>


            </form>

        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>